// reset override
ol,
ul {
  @apply ml-4;
  @apply mt-2;
}

pre {
  code {
    @apply text-sm;
  }
}

// pride
$badge-height: 3px;

[data-af-pride] {
  margin-top: $badge-height;
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $badge-height;
    z-index: 9999;
    background: linear-gradient(
        to right,
        #e50203 9.09%,
        #ff8d01 9.09% 18.18%,
        #ffee00 18.18% 27.27%,
        #008121 27.27% 36.36%,
        #034cfe 36.36% 45.45%,
        #750287 45.45% 54.54%,
        #ffffff 54.54% 63.63%,
        #5ccefa 63.63% 72.72%,
        #f6a8b7 72.72% 81.81%,
        #784f19 81.81% 90.9%,
        #000000 90.9% 100%
      )
      fixed;
  }
}
