:root {
  --hopeful-rgb: 52, 204, 215;
  --color-confident: #111;
  --color-dynamic: #f3f3f3;
  --color-hopeful: rgb(var(--hopeful-rgb));
  --color-hopeful-transparent: rgba(var(--hopeful-rgb, 0.5));
  --color-influential: #ff004c;
  --color-positive: #feea34;
}
