@import 'base';
@import 'layout';
@import 'module';

// Yes we break our own rules here by applying styles to elements
// But we're styling the output of markdown-it so do not have the luxury of class-names.
// Consider resolving this through implementing markdown-it-classy?
body {
  font-family: $body-family;
  @apply bg-gradient-to-b from-gray-100 to-gray-300;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $title-family;
  font-weight: 400;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-2xl;
}
