@import '~bulma/sass/utilities/_all';
@import '_base';
@import '~bulma';
@import '_layout';

// Yes we break our own rules here by applying styles to elements
// But we're styling the output of markdown-it so do not have the luxury of class-names.
// Consider resolving this through implementing markdown-it-classy?
h1,
h2,
h3,
h4,
h5 {
  font-family: $title-family;
  font-weight: 700;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
}

h1 {
  font-size: 64px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}

pre,
code {
  background-color: $body-background;
  color: scale-color(#ff004c, $lightness: -50%);
}
