extends layouts/default.pug

block content

  section#header
    h1 Folk Style

  section#intro
    include:markdown-it(plugins=['markdown-it-container']) _includes/intro.md

  section#toc
    include:markdown-it(plugins=['markdown-it-container']) _includes/toc.md

  section#html
    include:markdown-it(html plugins=['markdown-it-container']) _includes/html.md

  section#pug
    include:markdown-it(html plugins=['markdown-it-container']) _includes/pug.md

  section#css
    include:markdown-it(html plugins=['markdown-it-container']) _includes/css.md

  section#javascript
    include:markdown-it(html plugins=['markdown-it-container']) _includes/javascript.md

  section#php
    include:markdown-it(html plugins=['markdown-it-container']) _includes/php.md
