extends layouts/default

block content

  section#header
    h1 Folk Style

  section#intro
    include:markdown-it _includes/intro.md

  section#toc
    include:markdown-it _includes/toc.md

  section#html
    include:markdown-it _includes/html.md

  section#jade
    include:markdown-it _includes/jade.md

  section#css
    include:markdown-it _includes/css.md

  section#javascript
    include:markdown-it _includes/javascript.md

  section#php
    include:markdown-it _includes/php.md
