$em-base: 10;

html {
  font-size: 62.5%;
  font-family: 'Oxygen', sans-serif;
}

.wrapper {
  max-width: rem(960);
  margin: 0 auto;
}

section {
  border-bottom: 1px solid $color-black;
  padding-bottom: rem(20);
  margin-bottom: rem(20);
}

p,
li,
pre {
  font-size: rem(14);
}

pre {
  background-color: darken($color-white, 0.5);
  padding: rem(10);
  border-radius: rem(10);
}

h1 { font-size: rem(36); }
h2 { font-size: rem(24); }
h3 { font-size: rem(18); }
h4 { font-size: rem(16); }